<!DOCTYPE html>
<html>
	<head>
		<title> Dashboard | Network Analysis </title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- Bootstrap CSS --> 
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		
		<!-- jQuery --> 
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		
		<!-- Bootstrap JS -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		
		<!-- FontAwesome --> 
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
		
		 <!-- CSS -->
         <link rel="stylesheet" href="{{url_for('static', filename = 'css/styleDashboard.css')}}">        
	</head>
	
	<body>
		<!-- Wrapper -->
		<div class="wrapper">
			<!-- Sidebar -->
			<nav id="sidebar">
				<div class="sidebar-header">
					<h3> Network Analysis </h3>
				</div>

				<ul class="list-unstyled components">
					{% if session %}
                    <li>
						<a disabled>
						   <i class="fa fa-user"></i> {{ session.username }}
						</a>
					</li>
                    <li> 
						<a href = "/logout"> 
							<i class = "fas fa-sign-out-alt"></i> Logout
						</a>
					</li>
                    <li class = "active"> 
						<a disabled>
							<i class = "fas fa-home"></i> <b> Home </b>
						</a>
					</li>
					<li> 
						<a href = "#"> 
							<i class = "far fa-file-alt"></i> Reports
						</a>
					</li>
                    {% else %}
                    <li>
						<a disabled>
						   <i class="fa fa-user"></i> Guest
						</a>
					</li>
                    {% endif %}
				</ul>
       	 	</nav> <!-- Sidebar -->

			<script type="text/javascript">
				$(document).ready(function () {
					$('#sidebarCollapse').on('click', function () {
						$('#sidebar').toggleClass('active');
					});
				});
			</script>

			<!-- Page Content  -->
			<div id="content">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<div class="container-fluid">
						<button type="button" id="sidebarCollapse" class="btn btn-info">
							<i class="fas fa-bars"></i> Men&uacute; 
						</button>
					</div>
				</nav>
				
                {% if session %}
				<div class="row">
                    <div class="col-sm-12">
						<table class="table table-bordered table-hover">
							<tr>
								<th>ID</th>
								<th style = "width:20%">Fecha y hora</th>
								<th>User</th>
								<th>Internal IP</th>
								<th>External IP</th>
								<th>Destination</th>
								<th>Category</th>
								<th>Action</th>
							</tr>
							{% for log in logs %}
							<tr>
								<td>{{ log.id_pk }}
								<td>{{ log.fecha_hora.strftime("%d-%B-%Y %I:%M %p") }}</td>
								<td>{{ log.user }}</td>
								<td>{{ log.internal_ip }}</td>
								<td>{{ log.external_ip }}</td>
								<td>{{ log.destinacion }}</td>
								{% if log.categoria == "Low" %}
									<td class="table-success"> 
										{{ log.categoria }}
									</td>
								{% elif log.categoria == "Medium" %}
									<td class="table-warning"> 
										{{ log.categoria }}
									</td>
								{% else %}
									<td class="table-danger"> 
										{{ log.categoria }}
									</td>
								{% endif %}

								{% if log.accion == "Allowed" %}
									<td> 
										<i class="fa fa-check-circle" style="color:green"></i> {{ log.accion }}
									</td>
								{% else %}
									<td> 
										<i class="fa fa-times-circle" style="color:red"></i> {{ log.accion }} 
									</td>
								{% endif %}
							</tr>
							{% endfor %}
						</table>

						<p> Count of records: <b> {{ logs_count }} </b> </p> 
					</div>
                </div>
				
				<!-- 
				<div class="row">
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="container pt-3"></div>
                            <i class="fas fa-book text-center" style="font-size:800%"></i>
                            <div class="card-body">
                                <p class="card-text"> Total of records </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        .col-sm-3
                    </div>
                    <div class="col-sm-3">
                        .col-sm-3
                    </div>
                    <div class="col-sm-3">
                        .col-sm-3
                    </div>
                </div>
				-->
                {% else %}

                {% endif %}

			</div> <!-- End tag for the page content -->
		</div> <!-- End tag  for the wrapper -->

		<!-- Footer -->
		<footer class="bg-light text-center text-lg-start">
			<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
				<h6> &copy;
                    <script>
                        document.write(new Date().getFullYear());     
                    </script> Copyright
                </h6>
                
			</div>
		</footer>
		<!-- Footer -->
	</body>
</html>